<template>
  <div class="hello">
    <h1>POC Checkbox</h1>
    <input type="checkbox" id="checkbox" v-model="checkboxStatus" :disabled="isLoading">
    <label for="checkbox">Test Checkbox !</label>
  </div>
</template>

<script>
    export default {
        name: 'HelloWorld',
        mounted: function () {
          this.$store.dispatch("getStatusFromApi");
        },
        methods: {
        },
        computed: {
            isLoading: function() {
                return this.$store.getters.getLoadingStatus;
            },
            checkboxStatus: {
                get: function() {
                    return this.$store.getters.getCheckBoxStatus;
                },
                set: function(val) {
                    this.$store.commit("changeCheckboxStatus", val);
                }
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
